<!doctype html>
<!--
	Lamoda by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<html lang="en-gb" class="no-js">

<head>
  <meta charset="utf-8">
  <title>TrackVac</title>
  <meta name="author" content="">
  <meta name="keywords" content="">
  <meta name="description" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <!--styles -->
  <link href="/Aboutfiles/css/bootstrap.min.css" rel="stylesheet">
  <link href="/Aboutfiles/css/font-awesome.css" rel="stylesheet">
  <link href="/Aboutfiles/js/owl-carousel/owl.carousel.css" rel="stylesheet">
  <link href="/Aboutfiles/js/owl-carousel/owl.theme.css" rel="stylesheet">
  <link href="/Aboutfiles/js/owl-carousel/owl.transitions.css" rel="stylesheet">
  <link href="/Aboutfiles/css/magnific-popup.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/Aboutfiles/css/animate.css" />
  <link rel="stylesheet" href="/Aboutfiles/css/etlinefont.css">
  <link href="/Aboutfiles/css/style.css" type="text/css" rel="stylesheet" />


  <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
        <script src="/Aboutfiles/js/html5shiv.js"></script>
        <script src="/Aboutfiles/js/respond.min.js"></script>
        <![endif]-->

<body data-spy="scroll" data-target="#main-menu">


  <!--Start Page loader -->
  <div id="pageloader">
    <div class="loader">
      <img src="/images/progress.gif" alt='loader' />
    </div>
  </div>
  <!--End Page loader -->


  <!--Start Navigation-->
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="fa fa-bars"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!--Start Logo -->
          <div class="logo-nav">
            <a href="http://localhost:3000/trackvac-api/home">
              <img src="/images/white png logo.png" style="width:15% ;height:15%" alt="Company logo" />
            </a>
          </div>
          <!--End Logo -->
          <div class="clear-toggle"></div>
          <div id="main-menu" class="collapse scroll navbar-right">
            <ul class="nav">

              <li> <a href="http://localhost:3000/trackvac-api/home">Home</a> </li>

              <li class="active"> <a href="http://localhost:3000/trackvac-api/about">About</a> </li>

              <li> <a href="http://localhost:8000/trackvac-api/reviews">Reviews</a> </li>

              <li> <a href="http://localhost:8000/trackvac-api/questions">Questions</a> </li>

              <li> <a></a> </li>
              <li> <a></a> </li>

              <li>
                <ul>
                  <li class="active"> <a href="http://localhost:3000/trackvac-api/about/en">En</a></li>
                  <li class=""> <a>|</a></li>
                  <li class=""> <a href="http://localhost:3000/trackvac-api/about/ar">عربي</a></li>
                </ul>
              </li>

            </ul>
          </div><!-- end main-menu -->
        </div>
      </div>
    </div>
  </header>
  <!--End Navigation-->











  <!--Start History-->


  <section id="about" class="section parallax">
    <div class="overlay"> <img src="/images/aboutImage.png" alt='imageID'
        style='width:auto; height:auto; display:block; height: 100%; width:100%'> </div>
    <div class="container">
      <div class="row">

        <div class="title-box text-center white">
          <h2 class="title" style="color:#1687A7;">About Us</h2>
        </div>


        <!--Start Services-->

        <!--Services Item -->
        <div class="col-md-4">
          <div class="services-box" style=" border: 3px solid #195161; ">
            <div class="services-icon" style="background-color: #276678;"> <i class="icon-global"
                style="background-color: #276678;"></i> </div>
            <div class="services-desc">
              <h4 style="color: #0d0d0e;font-weight: 900;">Vision</h4>
              <p style="color: #0d0d0e;font-weight:500;">Raising the awareness of the local
                community about the COVID-19 vaccination process to ease their experience.</p>
            </div>
          </div>
        </div>
        <!--End services Item-->

        <!--Services Item-->
        <div class="col-md-4">
          <div class="services-box" style="border: 3px solid #195161;">
            <div class="services-icon" style="background-color: #276678;"> <i class="icon-target"></i> </div>
            <div class="services-desc">
              <h4 style="color: #111111;font-weight: 900;">Aim</h4>
              <p style="color: #0f0f0f;font-weight: 500;">Facilitating the process of vaccination by providing
                necessary
                information about how to recieve the vaccine locally. </p>
            </div>
          </div>
        </div>
        <!--End services Item-->

        <!--Services Item -->
        <div class="col-md-4">
          <div class="services-box" style="border: 3px solid #195161;">
            <div class="services-icon" style="background-color: #276678;"> <i class="icon-aperture"></i> </div>
            <div class="services-desc">
              <h4 style="color: #0a0a0a;font-weight: 900;">Mission</h4>
              <p style="color: #0d0d0e;font-weight: 500;">Enabling community members
                to exchange and share their experience to help in
                the fight against the pandemic.</p>
            </div>
          </div>
        </div>
        <!--End services Item-->



      </div> <!-- /.row-->
    </div> <!-- /.container-->
  </section>
  <!--End video-->

  <!--Start Call To Action-->


  <!--Start Team-->
  <section id="team" class="section">
    <div class="container">
      <div class="row">

        <div class="title-box text-center">
          <h2 class="title">Team</h2>
        </div>

      </div>

      <!-- Team -->
      <div class="team-items team-carousel">


        <div class="item">
          <img src="/images/team\IEEE HAC pic\Dr.Eman.jpg" alt="" />
          <h4>DR.Eman Azzab</h4>
          <h5>Supervisor</h5>

        </div>

        <div class="item">
          <img src="/images/team\IEEE HAC pic\Dr.Maggie.jpg" alt="" />
          <h4>DR.Maggie</h4>
          <h5>Supervisor</h5>

        </div>

        <div class="item">
          <img src="/images/team\IEEE HAC pic\Tasneem.jpg" alt="" />
          <h4>Tasneem Hazem</h4>
          <h5>Project Manager</h5>

        </div>

        <!-- Team Member #4 -->
        <div class="item">
          <img src="/images/team\IEEE HAC pic\Aliaa.jpg" alt="" />
          <h4>Aliaa Mohamoud</h4>
          <h5>Coordinator</h5>

        </div>
        <!-- End Member -->

        <div class="item">
          <img src="/images/team\IEEE HAC pic\Jomana.jpg" alt="" />
          <h4>Jomana Wael</h4>
          <h5>Coordinator</h5>

        </div>

        <!-- Team Member #1 -->
        <div class="item">
          <img src="/images/team\IEEE HAC pic\AhmedBelal.jpg" alt="" />
          <h4>Ahmed Belal</h4>
          <h5>Full Stack Developer</h5>
        </div>

        <!-- End Member -->

        <!-- Team Member #2 -->
        <div class="item">
          <img src="/images/team\IEEE HAC pic\AhmedSamir.jpg" alt="" />
          <h4>Ahmad Samir</h4>
          <h5>Full Stack Developer</h5>
        </div>


        <!-- Team Member #3 -->
        <div class="item">
          <img src="/images/team\IEEE HAC pic\AhmedTamer.jpg" alt="" />
          <h4>Ahmed Tamer</h4>
          <h5>Full Stack Developer</h5>

        </div>
        <!-- End Member -->

        <!-- Team Member #5 -->
        <div class="item">
          <img src="/images/team\IEEE HAC pic\AmeraSaleh.jpg" alt="" />
          <h4>Amera Saleh</h4>
          <h5>Full Stack Developer</h5>

        </div>
        <!-- End Member -->

        <!-- Team Member #6 -->
        <div class="item">
          <img src="/images/team\IEEE HAC pic\AyaAhmed.jpg" alt="" />
          <h4>Aya Ahmed </h4>
          <h5>Full Stack Developer</h5>

        </div>

        <div class="item">
          <img src="/images/team\IEEE HAC pic\HaidyTohfa.jpg" alt="" />
          <h4>Haidy Tohfa</h4>
          <h5>Full Stack Developer</h5>

        </div>

        <div class="item">
          <img src="/images/team\IEEE HAC pic\Khaled.jpg" alt="" />
          <h4>Khaled Youssef</h4>
          <h5>Full Stack Developer</h5>

        </div>


        <div class="item">
          <img src="/images/team\IEEE HAC pic\LinaEmad.jpg" alt="" />
          <h4>Lina Emad</h4>
          <h5>Full Stack Developer</h5>

        </div>

        <div class="item">
          <img src="/images/team\IEEE HAC pic\MarkMalak.jpg" alt="" />
          <h4>Mark Malak</h4>
          <h5>Full Stack Developer</h5>

        </div>



        <div class="item">
          <img src="/images/team\IEEE HAC pic\MarkWafik.jpg" alt="" />
          <h4>Mark Wafik</h4>
          <h5>Full Stack Developer</h5>

        </div>



        <div class="item">
          <img src="/images/team\IEEE HAC pic\nawraz (2).jpg" alt="" />
          <h4>Nawraz</h4>
          <h5>Full Stack Developer</h5>

        </div>



        <div class="item">
          <img src="/images/team\IEEE HAC pic\OmarAref.jpg" alt="" />
          <h4>Omar Aref</h4>
          <h5>Full Stack Developer</h5>

        </div>


        <div class="item">
          <img src="/images/team\IEEE HAC pic\Salma Khaled.jpg" alt="" />
          <h4>Salma Khaled</h4>
          <h5>Full Stack Developer</h5>

        </div>


        <div class="item">
          <img src="/images/team\IEEE HAC pic\YusufElkilany.jpg" alt="" />
          <h4>Youssef ElKilany</h4>
          <h5>Full Stack Developer </h5>

        </div>



        <div class="item">
          <img src="/images/team\IEEE HAC pic\YoussefMagdy.jpg" alt="" />
          <h4>Youssef Magdy</h4>
          <h5>Full Stack Developer </h5>

        </div>





        <!-- End Member -->
      </div>
      <!-- End Team -->
    </div>
    <!-- End Content -->
  </section>
  <!--End Team-->













  <!--Start Footer-->
  <footer style="background : #D3E0EA">
    <div class="container">
      <div class="row">
        <!--Start copyright-->
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="copyright">
            <p style="color: #276678;">Copyright © 2021 All Rights reserved by: <a href="https://www.ieee.org/"
                style="color: white;">TrackVac</a>
            </p>
          </div>
        </div>
        <!--End copyright-->

        <!--start social icons-->
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="social-icons">
            <ul>
              <li><a href="https://www.facebook.com/Track-Vac-103424108805426/reviews/?ref=page_internal"><i
                    class="fa fa-facebook"></i></a></li>
              <li> <a href="https://twitter.com/TrackVacEgypt"><i class="fa fa-twitter"></i></a></li>
              <li><a href="trackvacegypt@gmail.com"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="https://www.instagram.com/trackvacegypt/?hl=en"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <!--End social icons-->
      </div> <!-- /.row-->
    </div> <!-- /.container-->
  </footer>
  <!--End Footer-->

  <a href="#" class="scrollup"> <i class="fa fa-chevron-up"> </i> </a>

  <!--Plugins-->
  <script type="text/javascript" src="/Aboutfiles/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/owl-carousel/owl.carousel.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/jquery.magnific-popup.min.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/easing.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/jquery.easypiechart.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/jquery.appear.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/jquery.parallax-1.1.3.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/jquery.mixitup.min.js"></script>
  <script type="text/javascript" src="/Aboutfiles/js/custom.js"></script>

</body>

</html>